<ion-header>

  <ion-navbar color='primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Comfy Bets</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card class="text-center page-tagline">
    <ion-card-content>
      Welcome to Comfy Bets betting community!
      Make maximum profits from our accurate Football Predictions!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="text-center page-header">
      Today's Best Picks
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="!gamesLength">
    <ion-card-content>
      Games not availabe. Tips loading...
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let game of bestgames" class="game-card">
    <ion-card-content>
      <p class="competition">{{game.data.country}}</p>
      <p class="match">{{game.data.hometeam}} vs {{game.data.awayteam}}</p>
      <p class="prediction">Pick: {{game.data.prediction}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="text-center">
    <ion-card-header>
      Feedback and Inquiries
    </ion-card-header>
    <ion-card-content>
        <a class="btn-mail" href="mailto:comfyannex@gmail.com" target="_top">Send Email</a>
    </ion-card-content>
  </ion-card>

  <!--ion-fab top right edge>
    <button ion-fab mini><ion-icon name="chatbubbles"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon><a ng-href="http://www.facebook.com/comfybets"></a></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list>
  </ion-fab-->

</ion-content>
